
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 


:root {
    --corPrincipal: #0a3871;
    --corSecundaria:#495057;
    --corTerciaria: #343A40;
    --corQuartenaria: #F3F5FC;
    --corPentenaria: white;

    --fontInter: "Inter", sans-serif;
}

body {
    background-color: var(--corQuartenaria);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: var(--fontInter);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho img {
    max-width: 120px;
    max-height: 48px;
    width: auto;
    height: auto;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 680px;
    height: 565px;
    margin-top: 95px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: var(--corPrincipal);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    text-transform:lowercase;
    display: inline-block;
    min-width: 50px;
    border: 1px #0A3871;
}

::placeholder{ color: #0A3871;}

.container-Text{
    margin-left: 90px;
    width: auto;
    height: auto;
}

#output {
    background-color:var(--corPentenaria);
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    width: 400px;
    min-height: 400px;
    margin-left: 100px;    
    margin-right: 3%; 
    text-align: center;
    padding-top: 2%;
    margin-bottom: 20px;
    box-shadow: 0px 24px 32px -8px #00000014, 0 24px 32px -8px #FFFFFF;
}

#output img {
    max-width: 336px;
    max-height: 304px;
    width: auto;
    height: auto;
    padding: 50% 10% 10% 10%;
}
#output h2 {
    font-size: 24px;
    color: var(--corTerciaria);  
    font-weight: 700; 
    line-height: 28.8px;
    padding: 10% 5% 0 5%;
}

#output p {
    font-size: 16px;
    color: var(--corSecundaria);
    font-weight: 400; 
    height: 48px;
    text-justify: distribute-all-lines;
    padding: 0% 10% 0 10%;
}

.outputText {
    font-size: 24px;
    color: var(--corTerciaria);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10% 5% 10% 5%;
    text-transform:lowercase;
    width: 95%;
    height: 630px;    
}

.buttons{
    display: flex;
    padding: 0 5% 5% 0;
}

.container--bnt button{
    border: 2px solid var(--corPrincipal);
    border-radius: 10px;
    text-decoration: none;    
    width: 340px;
    height: 67px;
    margin-right: 40px;
    gap: 24px;
    cursor: pointer;
}

.bnt--criptografar{
    color:var(--corPentenaria);
    background-color: var(--corPrincipal);
}

.bnt--descriptografar{
    color:var(--corPrincipal);
    background-color: var(--corQuartenaria);
}

#buttonCopiar{
    padding: 10% 5% 0 5%;
}

.bnt--copiar {
    border: 2px solid var(--corPrincipal);
    border-radius: 10px;
    text-decoration: none;
    color:var(--corPrincipal);
    width: 340px;
    height: 67px;
    background-color: var(--corPentenaria);
    gap: 24px;
    cursor: pointer;
}

 button:hover {
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;
    transition: 0.5s all;
    border: 1px solid #0A3871;
}

.observacao {
    width: Hug (252px);
    height: Hug (18px);
    margin-top: 90px;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 1%;
}

.observacao img{    
    vertical-align: middle;
    display: inline-block;
}



@media (max-width: 770px) {

    .container-input{
        display: block;
        padding: 0 0 0 3%;        
    }
    
    .container-Text{
        margin-left: 20px;        
    }

    .container--bnt button {
        margin-right: 0;
    }
    .bnt--descriptografar{
        margin-left: 15px;
    }

    #output {
        /* min-height: 20px; */
        display: flex;
        width: 92%;
        text-align: center;
        margin-left: 20px;
        padding: 5% 0 0 0;
    }

    #output h2{
        padding: 5% 0 0 0;
    }

    #output p{
        padding: 0 0 0 0;
    }

    #output img{
        display: none;
    }

    .outputText{
        padding: 5% 5% 0 5%;
        width: 90%;
    }

    #buttonCopiar{
        padding: 5% 5% 5% 5%;
        margin-bottom: 5%;
    }

    .bnt--copiar {
        width: 600px;
    }
    
}
@media (max-width: 380px) {

    .container-input{
        display: block;
        width: auto;
        margin-left: 0;
        padding: 0 0 0 0;
    }

    .container-input .input {
        width: 100%;
        height: 260px;
    }

    .container--bnt button{        
        width: 100%;
    }

    .buttons{        
        display: block;
        margin-bottom: 10px;
    }

    .bnt--descriptografar{
        margin-top: 10px;
        margin-left: 0;
    }

    #output {
        min-height: 20px;
        display: flex;
        width: 90%;
        text-align: center;        
    }

    #output p{
        padding: 0 5% 0 5%;
    }

    .outputText{
        padding: 5% 5% 0 5%;
        width: 90%;
    }

    #buttonCopiar{
        padding: 5% 5% 5% 5%;
        margin-bottom: 5%;
    }

    .bnt--copiar {
        width: 100%;
    }
    
}